@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor-principal: #043434;
    --cor-letra-primaria: #c4ccd4;
    --cor-letra-segundaria: #a33b44;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: yellow;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.contato-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #043434;
    padding-bottom: 10px;
}
.contato-header h4 {
    padding: 10px;
    font-style: italic;
}
.contato-header img {
    width: 25px;
    height: 20px;
    margin-left: 10px;
}
.contato-header a {
    color:white;
}
.contato-header a:hover {
    color: white;
    text-decoration: underline;
}
header {
    width: 100%;
    height: 150px;
    background-color: var(--cor-principal);
    border-bottom: 4px solid var(--cor-letra-segundaria);  
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.branco {
    text-align: center;
    height: 200px;
}
.branco h2 {
    padding-top: 100px;
}
nav {
    display: inline-flex;
}
nav  ul {
    font-size: 15pt;
    display: inline-flex;
    margin: 50px 50px;
}
nav  li {
    margin: 0px 50px;
    list-style: none;
}
.menu-mobile div {
    height: 2px;
    width: 30px;
    margin: 8px;
    background-color: white;
}
.menu-mobile {
    display: none;
    margin-top: 50px;
    text-align: right;
    cursor: pointer;
}
.menu-mobile a {
    color: white;
}
.menu-mobile li {
    padding: 20px;
    list-style: none;
    font-size: 20pt;
    display: block;
}
.menu-mobile ul {
    opacity: 0;
    transition: 1s;
    position: absolute;
    left: 60%;
    top: 150px;
    background-color: #043434;
}
.show-menu {
    opacity: 1 !important;
}
@media (max-width: 800px) {
    .menu-mobile{display: block;}
    .menu-mobile ul {
        margin-top: 40px;
    }
    .menu-desktop{display: none;}
}
.informacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #043434;
}
.informacao  ul {
    display: inline-flex;
    margin: 0px 10px;
}
.informacao li {
    color: white;
    padding: 10px;
    margin: 0px 10px;
}
.slide-img {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.slide {
    width: 80%;
    border: 5px solid var(--cor-letra-segundaria);
    border-radius: 10px;
    min-width: 350px;
    height: 600px;;
    position: relative;
}
.slide img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.slide img.selected {
    opacity: 1;
}
.informar {
    text-align: center;
    margin: 100px 0px;
}
span {
    font-size: 2em;
    color: #a33b44;
    text-decoration: underline;
}
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    text-align: center;
    width: 100%;
}
.produtos img {
    width: 100%;
    border: 4px solid #a33b44;
    border-radius: 60%;
}
.caixa-1 {
    width: 350px;
    height: 500px;
}
.caixa-2 {
    width: 350px;
    height: 500px;
}
.caixa-3 {
    width: 350px;
    height: 500px;
}
.caixa-4 {
    width: 350px;
    height: 500px;
}
.produtos h2 {
    padding: 10px;
    font-style: italic;
    font-size: 2em;
}
.sobre {
    height: 300px;
    width: 100%;
    background-image: linear-gradient(50deg, #043434 80%, #a33b44 10%, #043434 );
    text-align: justify;
    color: white;
    padding: 20px 0px;
    border-bottom: 5px solid #a33b44;
    margin-bottom: 50px;
}
.sobre h2  {
    font-size: 1.5em;
    text-indent: 30px;
    padding: 5px;
}
.sobre h3  {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    text-indent: 30px;
}
.duvida {
    text-align: center;
    margin-bottom: 50px;
    background-color: #043434;
    border-bottom: 3px  solid #a33b44;
    padding: 30px 0px;
    width: 100%;
}
.duvida h2 {
    margin-bottom: 20px;
    color: white;
}
.solicite-orcamento {
    margin: auto;
    width: 270px;
    border: 3px solid #a33b44;
    border-radius: 15px;
    margin-bottom: 50px;
}
.solicite-orcamento button {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(50deg, #043434 70%, #a33b44 10%, #043434 );
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.0em;
}
.solicite-orcamento button:hover {
    color: yellow;
    transition: 1s;
    padding-right: 10px;
    background-image: linear-gradient(50deg, #a33b44 70%, #043434 10%, #a33b44);
}
.duvida-  {
    text-align: center;
    margin-bottom: 50px;
}
.solicite-orcamento- {
    margin: auto;
    width: 270px;
    border: 3px solid #a33b44;
    border-radius: 10px;
    margin-top: 10px;
}
.solicite-orcamento- button {
    width: 100%;
    height: 40px;
    color: white;
    background-image: linear-gradient(50deg, #043434 70%, #a33b44 10%, #043434 );
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.0em;
}
.solicite-orcamento- button:hover {
    color: yellow;
    transition: 1s;
    padding-right: 10px;
    background-image: linear-gradient(50deg, #a33b44 70%, #043434 10%, #a33b44);
}
.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.contato h2 {
    margin: 50px 0px;
}
.contato h4 {
    padding: 10px;
    font-style: italic;
}
.contato img {
    width: 25px;
    height: 20px;
}
.contato  a {
    color: black;
}
.contato  a:hover {
    color: black;
    text-decoration: underline;
}
.contato- {
    width: 400px;
    height: 400px;
    margin-left: 20px;
}
.instagram {
    width: 400px;
    height: 400px;
    margin-left: 40px;
}
.instagram img {
    margin-left: 50px;
    height: 150px;
    width: 150px;
}
.slogam {
    text-align: center;
    margin: 30px 0px;
}
iframe {
    margin-top: 50px;
}
.endereco {
    background-image: linear-gradient(50deg, #043434 80%, #a33b44 10%, #043434 );
    padding: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.endereco- {
    margin-top: 10px;
    width: 400px;
    margin-left: 20px;
}
.endereco- h5 {
    padding: 10px;
}

.atendimento {
    margin-top: 10px;
    width: 400px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.atendimento h2 {
    padding: 20px;
}
.atendimento img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.atendimento h5 {
    padding-left: 20px;
}
footer {
    text-align: center;
    margin: 20px 0px;
    width: 100%;
}